.hero {
    background: url("../../assets/images/header-bg.jpg") no-repeat right bottom;
    background-size: cover;
    min-height: 750px;
    padding-top: 10%;

    .hero-block {
        display: flex;
        flex-flow: column nowrap;
        gap: 2em;
        font-weight: 700;
        
        h1 {
            font-size: 4em;
        }

        p {
            font-size: 1.5em;
            font-style: italic;
        }

        a.btn {
            font-weight: 700;
            font-style: normal;
            border: 3px solid #fff;

            &:hover {
                color: rgb(67, 63, 63)!important;
                background-color: #fff;
                transition: .5s;
            }
        }
    }
}