
<div class="after-best-container">

    <h2>Best Winter Trips</h2>
    <hr class="devider-widget"> 

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <figure class="figure">
                    <img src="../../assets/images/austria-img.jpg" class="figure-img img-fluid rounded" alt="Austria">
                    <figcaption class="figure-caption">Neuschneher, Austria</figcaption>
                    <span class="trip-price">$630.00/pers.</span>
                </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <figure class="figure">
                    <img src="../../assets/images/sweden-img.jpg" class="figure-img img-fluid rounded" alt="Austria">
                    <figcaption class="figure-caption">Abisko, Sweden</figcaption>
                    <span class="trip-price">$650.00/pers.</span>
                </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <figure class="figure">
                    <img src="../../assets/images/slovakia-img1.jpg" class="figure-img img-fluid rounded" alt="Austria">
                    <figcaption class="figure-caption">Jasná, Slovakia</figcaption>
                    <span class="trip-price">$630.00/pers.</span>
                </figure>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <figure class="figure">
                    <img src="../../assets/images/finnland-img.jpg" class="figure-img img-fluid rounded" alt="Austria">
                    <figcaption class="figure-caption">Lapland, Finland</figcaption>
                    <span class="trip-price">$160.00/pers.</span>
                </figure>
            </div>

        </div>
        <div class="btn-container">
            <a href="#" class="btn btn-lg custom-btn-red">View All Destinations</a>
        </div>
    </div>
</div>
