
<div class="best-container">

    <h2>Why We're the Best</h2>
    <hr class="devider-widget"> 

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0 text-center" style="width: 18rem;">
                    <div class="card-icon-top rounded-circle">
                        <i class="bi bi-clipboard-data"></i>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Accommodation</h5>
                      <hr class="card-title-seperator">
                      <p class="card-text">We offer the finest selection of top notch hotels anywhere!</p>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0 text-center" style="width: 18rem;">
                    <div class="card-icon-top rounded-circle">
                        <i class="bi bi-truck"></i>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Transportation</h5>
                      <hr class="card-title-seperator">
                      <p class="card-text">Whether it’s about air tickets or shuttle bus, we will set it up!</p>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0 text-center" style="width: 18rem;">
                    <div class="card-icon-top rounded-circle">
                        <i class="bi bi-people-fill"></i>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Seasoned Agents</h5>
                      <hr class="card-title-seperator">
                      <p class="card-text">Combined, the experience our agents have is centuries!</p>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0 text-center" style="width: 18rem;">
                    <div class="card-icon-top rounded-circle">
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Easy Trip Planning</h5>
                      <hr class="card-title-seperator">
                      <p class="card-text">Our travel agents are always ready to plan your perfect trip!</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>