<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-6">
                <a class="navbar-brand" routerLink="/">
                    <i class="bi bi-alt"></i>
                    Winter Tourist
                </a>
            </div>

            <div class="col-6 col-md-6">
                <p class="copy-right">&copy; 2021 All Rights Reserved Terms of Use and <a href="#">Privacy Policy</a>.</p>
            </div>
        </div>
    </div>
</footer>